In [ ]:
# Unzipping
!unzip '/content/drive/My Drive/Mini Project-Sepsis/training_setA'
!unzip '/content/drive/My Drive/Mini Project-Sepsis/training_setB'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# %cp -r /content/sample_data/training /content/project

In [ ]:
import os
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')
import rpy2.robjects as robjects 

# Load in the r magic
%reload_ext rpy2.ipython
%config IPCompleter.greedy=True
%config InlineBackend.figure_format = 'retina'

In [ ]:
#NOT WORKing with this for time being
# Creating master data frame
os.chdir("/content/training")
li = []
for i in ar1:
    li.append(pd.read_csv(i, sep = '|'))

df1 = pd.concat(li)
os.chdir("/content/training_setB")
li = []
for i in ar2:
    li.append(pd.read_csv(i, sep = '|'))

df2 = pd.concat(li)
# pd.set_option("display.max_rows", None, "display.max_columns", None)
df = df1.append(df2, ignore_index=True)
print(df1.shape, " ", df2.shape, " ", df.shape)

In [ ]:
# folder_loc = '/content/Sepsis/'
# training_A = sorted(listdir(folder_loc + 'training'))
# training_B = sorted(listdir(folder_loc + 'training_setB'))
# with open(folder_loc + "sepsis_data.psv", "wb") as fout:
#   for i, csv in enumerate(training_A):
#     if i==0:
#       with open(folder_loc + "training/" +csv, "rb") as f:
#         fout.write(f.read())
    
#     with open(folder_loc + "training_setB/" +csv, "rb") as f:
#       next(f)
#       fout.write(f.read())
    
#   for i, csv in enumerate(training_B):
#     with open(folder_loc + 'training_setB/' + csv, "rb") as f:
#                 next(f)
#                 fout.write(f.read())
# sepsis_data = pd.read_csv('sepsis_data.psv', sep = '|')
# print(sepsis_data)

In [ ]:
%mkdir /content/training_filter
%mkdir /content/training_setB_filter

In [ ]:
ar1 = os.listdir('/content/training')
ar2 = os.listdir('/content/training_setB')

In [ ]:
folder_loc = "/content/"
for i, csv in enumerate(ar1):
    with open(folder_loc + "training/" +csv, "rb") as f:
      temp_df = pd.read_csv(folder_loc + "/training/" + csv, sep = '|')
      nos_of_ones = temp_df['SepsisLabel'].value_couts()[1]; 
      if i == 0:
        
  
for i, csv in enumerate(ar2):
  with open(folder_loc + 'training_setB/' + csv, "rb") as f:
              next(f)
              fout.write(f.read())

IndentationError: ignored

In [ ]:
%R -i df1 -i df2

In [ ]:
%%R

install.packages("tidyr");      library(tidyr)
install.packages("dplyr");      library(dplyr)
install.packages("ggplot2");    library(ggplot2)
install.packages("naniar");     library(naniar)
install.packages("party");      library(party)

In [ ]:
%%R

plot_missing <- function(df) {

    missing.values <- df %>%
    gather(key = "key", value = "val") %>%
    mutate(isna = is.na(val)) %>%
    group_by(key) %>%
    mutate(total = n()) %>%
    group_by(key, total, isna) %>%
    summarise(num.isna = n()) %>%
    mutate(pct = num.isna / total * 100)

    levels2 <- 
        (missing.values  %>% filter(isna == T) %>% arrange(desc(pct)))$key

    percentage.plot <- missing.values %>% ggplot() +
        geom_bar(aes(x = reorder(key, desc(pct)), y = pct, fill=isna), stat = 'identity', alpha=0.8) +
        scale_x_discrete(limits = levels2) +
        scale_fill_manual(name = "", 
        values = c('steelblue', 'tomato3'), labels = c("Present", "Missing")) +
        coord_flip() +
        labs(title = "Percentage of missing values", x = 'Variable', y = "% of missing values")

    plot(percentage.plot)
}

In [ ]:
%%R
df <- rbind(df1, df2)
dim(df)

R[write to console]: Error in rbind(df1, df2) : object 'df1' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> rbind

Error in rbind(df1, df2) : object 'df1' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> rbind

In [ ]:
%%R
plot_missing(df)

R[write to console]: Error in UseMethod("gather_") :
  no applicable method for 'gather_' applied to an object of class "function"
Calls: <Anonymous> ... freduce -> <Anonymous> -> gather -> gather.default -> gather_

Error in UseMethod("gather_") :
  no applicable method for 'gather_' applied to an object of class "function"
Calls: <Anonymous> ... freduce -> <Anonymous> -> gather -> gather.default -> gather_

In [ ]:
%%R
features = c('HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2', 
             'Glucose', 'Gender', 'ICULOS')

In [ ]:
%%R
temp <- df1[, features]
n <- na.locf(temp, option = "locf")

In [ ]:
# !pip3 install impyute
import impyute

In [ ]:
temp = pd.read_csv("/content/training/p000001.psv", sep = '|')

temp.head()

      HR  O2Sat  Temp    SBP  ...  Unit2  HospAdmTime  ICULOS  SepsisLabel
0    NaN    NaN   NaN    NaN  ...    NaN        -0.03       1            0
1   97.0   95.0   NaN   98.0  ...    NaN        -0.03       2            0
2   89.0   99.0   NaN  122.0  ...    NaN        -0.03       3            0
3   90.0   95.0   NaN    NaN  ...    NaN        -0.03       4            0
4  103.0   88.5   NaN  122.0  ...    NaN        -0.03       5            0

[5 rows x 41 columns]

In [ ]:
missing_data = df1.isnull().sum()
print(missing_data.sort_values(ascending=False))

In [ ]:
%cp -r "/content/training" "/content/training_impute"
%cp -r "/content/training_setB" "/content/training_setB_impute"

In [ ]:
features = ['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2', 
             'Glucose', 'Gender', 'ICULOS', 'SepsisLabel']

In [ ]:
folder_loc = '/content/'
%mkdir /content/training_impute
%mkdir /content/training_setB_impute
training_A = sorted(os.listdir(folder_loc + 'training'))
training_B = sorted(os.listdir(folder_loc + 'training_setB'))

In [ ]:
def TsImputation(sepsisDataFrame, features):
  # print(sepsisDataFrame.head())
  sepsisDataFrame = sepsisDataFrame[features]
  # print(sepsisDataFrame.loc[0,:])
  imputatedMatrix = impyute.imputation.ts.locf(sepsisDataFrame.to_numpy(), axis=1)
  imputatedMatrix = imputatedMatrix.T
  df1 = pd.DataFrame(data = imputatedMatrix, columns = features, )
  return df1

In [ ]:
for i, csv in enumerate(training_A):
      # print("Working on "+ str(i) + ": "+ str(csv))
      if i == 1:
        break
      sepsis_data = pd.read_csv(folder_loc + 'training/' + csv, sep = '|')
      imputated_sepsis_data = TsImputation(sepsis_data, features)
      if i==0:
        print(imputated_sepsis_data.head())
      imputated_sepsis_data.to_csv(path_or_buf = folder_loc + 'training_impute/' + csv, sep = '|', index=False )
      sepsis_data_save = pd.read_csv(folder_loc + 'training_impute/' + csv, sep = '|')
      print(sepsis_data_save.head())

In [ ]:
      sepsis_data1 = pd.read_csv("/content/training/p000001.psv", sep = '|')
      sepsis_data2 = pd.read_csv("/content/training_impute/p000001.psv", sep = '|')

sepsis_data1.head()

      HR  O2Sat  Temp    SBP  ...  Unit2  HospAdmTime  ICULOS  SepsisLabel
0    NaN    NaN   NaN    NaN  ...    NaN        -0.03       1            0
1   97.0   95.0   NaN   98.0  ...    NaN        -0.03       2            0
2   89.0   99.0   NaN  122.0  ...    NaN        -0.03       3            0
3   90.0   95.0   NaN    NaN  ...    NaN        -0.03       4            0
4  103.0   88.5   NaN  122.0  ...    NaN        -0.03       5            0

[5 rows x 41 columns]

In [ ]:
sepsis_data2.head()

      HR  O2Sat  Temp    SBP  ...  Glucose  Gender  ICULOS  SepsisLabel
0    0.0    0.0   0.0    0.0  ...      0.0     0.0     1.0          0.0
1   97.0   95.0  95.0   98.0  ...     19.0     0.0     2.0          0.0
2   89.0   99.0  99.0  122.0  ...     22.0     0.0     3.0          0.0
3   90.0   95.0  95.0   95.0  ...     30.0     0.0     4.0          0.0
4  103.0   88.5  88.5  122.0  ...     24.5     0.0     5.0          0.0

[5 rows x 12 columns]